.inputCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 100px;
  height: 100px;
  fill: var(--accent);
}

.titleName {
  color: var(--black);
}

.input {
  font-size: 2rem;
  outline: 0 solid var(--accent-light);
  transition: outline 80ms;
}

.input:focus-visible {
  outline-width: 5px;
}
